<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Plantains</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About Plantains</a>
                </li>
                <li>
                    <a class="page-scroll" href="#problem">The Problem</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>You worked hard to plan your event. Let Plantains bring the community to yours.</h1>
                        <%= link_to "Here for an event? Check in now", checkin_path, class: "btn btn-outline btn-xl page-scroll" %>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <%= image_tag "member-screen.png", class: "img-responsive" %>
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about" class="about">
    <div class="about-content">
        <div class="container">
            <h2>Plantains helps you <strong>plan</strong> and <strong>maintain</strong> community participation in local events, workshops, and businesses</h2>
            <p>Plantains rewards event participants with community points that can be later converted into purchase discounts at local businesses. By converting participation into dollar rewards, Plantains promotes both social and investment capital in your community.</p>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section id="problem" class="text-center bg-primary text-primary download">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <%= image_tag "mend-clinic-board.jpg", class: "img-responsive" %>
            </div> 
            <div class="col-md-8">
                <h2 class="section-heading">The Problem</h2>
                <p>Patient care through promoting lifestyle awareness often suffers a lack of participation.</p>
                <p>Clinics organize workshops and events to promote awareness in diet habits and food choices. However, community members are reluctant to attend due to existing social stigma or scheduling inconvenience.</p>
                <p>As a result, both clinics and patients face rising costs in clinical treatment. By encouraging active participation in healthcare workshops and other events, we can promote healthier lifestyle in the community for the current and next generations.</p>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>One-Stop Center for Community Investment</h2>
                    <p class="text-muted">Plantains provides mobile check-ins for community members at events and workshops and rewards them with community points that can be converted into discounts and gift cards at local businesses.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <%= image_tag "member-screen.png", class: "img-responsive" %> </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <%= fa_icon 'check-square-o 2x', class: "text-primary" %>
                                <h3>Increased Community Participation</h3>
                                <p class="text-muted">Community members are incentivized to attend workshops and events.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <%= fa_icon 'shopping-bag 2x', class: "text-primary" %>
                                <h3>Support for Local Business</h3>
                                <p class="text-muted">As members redeem points for discounts, local business partners will see increased spending. Owners can verify and track outstanding discounts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <%= fa_icon 'percent 2x', class: "text-primary" %>
                                <h3>User-Friendly Features</h3>
                                <p class="text-muted">Users may filter discounts according to interest and redeem eligible ones.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <%= fa_icon 'users 2x', class: "text-primary" %>
                                <h3>Audience Engagement for Organizers</h3>
                                <p class="text-muted">Community organizers can track events, set award points and identify most engaged members.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<footer>
    <div class="container">
        <p>Built by <%= link_to "Mike Nguyen", "http://www.mikengn.com" %>.</p>
    </div>
</footer>