<p id="notice"><%= notice %></p>

<h1>Events</h1>

<ul class="list-group">
  <% @events.each do |event| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-8">
          <h3 class="list-group-item-heading"><%= event.name %></h3>
          <p class="list-group-item-text"><%= event.description %></p>
          <p class="list-group-item-text event-points"><%= event.award_points %> pts</p>
        </div>
        <div class="col-sm-4">
          <div class="pull-right">
            <p class="list-group-item-text event-code-annotation">CODE</p>
            <p class="list-group-item-text event-code"><%= event.code %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          
        </div>
        <div class="col-sm-4">

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="actions">
            <%= link_to 'Show', event, class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-default' %>
            <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
              <%= fa_icon 'trash' %>
            <% end %>
          </p>          
        </div>
      </div>
    </li>
  <% end %>  
</ul>

<p>
  <%= link_to new_event_path do %>
    <%= fa_icon 'plus' %> New Event
  <% end %>
</p>

