<h1><%= @event.name %></h1>

<%= flash_messages %>

<p>
  <%= @event.description %>
</p>

<p>
  <strong>Code:</strong>
  <%= @event.code %>
</p>

<p>
  <strong>Default award points:</strong>
  <%= @event.award_points %>
</p>

<p>
  <%= pluralize @event.users.count, "attendee" %> in total:
</p>

<ul class="list-group">
  <% @event.attendances.each do |a| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-8">
          <h3 class="list-group-item-heading"><%= a.user.name %></h3>
          <p class="list-group-item-text"><%= a.user.phone.phony_formatted %></p>
          <p class="list-group-item-text event-points"><%= a.points_awarded %> pts</p>
        </div>
        <div class="col-sm-4">
          <div class="pull-right">
            <p class="list-group-item-text event-code-annotation"><%= time_ago_in_words a.created_at %> ago</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          
        </div>
        <div class="col-sm-4">

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="actions">
            <%= link_to 'Cancel Checkin', cancel_checkin_event_path(user_id: a.user_id),
                                          method: :delete,
                                          class: 'btn btn-danger',
                                          data: { confirm: 'Are you sure?' } %>
          </p>          
        </div>
      </div>
    </li>
  <% end %>  
</ul>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
